<main class="user-edit-wrapper">
  <div class="user-new-form-body">
    <h2>ユーザー編集画面</h2>
    <div class="user-new-form-lists">
      <%= form_with model: [@user], local: true do |f| %>
      <%= render "devise/shared/error_messages", model: f.object %>

        <div class="form-field">
          <label class="form-text">ニックネーム</label>
          <%= f.text_field :nickname, placeholder:"ニックネーム (20文字以内)", maxlength:"20", class:"form-default" %>
        </div>

        <div class="form-field">
          <label class="form-text">ユーザー画像</label>
            <%= f.file_field :image %>
        </div>

        <div class="user-form-btn">
          <%= f.submit "編集", class:"form-blue-btn" %>
        </div>

      <% end %>
    </div>
  </div>
</main>