<main class="user-wrapper">
  <div class="user-container">

    <div class="user-profile-wrapper">
      <div class="user-profile-container">

        <div class="user-profile-header">
          <div class="user-profile-img">
            <%= render "shared/user-img", user: @user %>
          </div>
          <div class="user-profile-nickname">
            <%= @user.nickname %>
          </div>
          <div class="user-profile-edit">
            <%= link_to "プロフィールを変種する", edit_user_path %>
          </div>
          <div class="user-profile-border"></div>
          <div class="user-profile-show">
            <div class="user-profile-show-box">
              <div class="user-profile-show-item">投稿数</div>
              <div class="user-profile-show-num"><%= Post.where(user_id: @user.id).length %></div>
            </div>
            <div class="user-profile-show-box">
              <div class="user-profile-show-item">お気に入り数</div>
              <div class="user-profile-show-num"><%= Favorite.where(user_id: @user.id).length %></div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="user-screen-wrapper">
    </div>

  </div>
<main>