<div class="default-left-bar">
  <div class="default-left-bar-box">
    <p class="default-left-bar-name">
      <%= link_to user_path(current_user.id) do %>
        <div class="user-img-min"><%= render "shared/user-img", user: current_user %></div>
        <%= current_user.nickname %>
      <% end %>
    </p>
  </div>
  <div class="default-left-bar-boder"></div>
  <div class="default-left-create-box">
    <div class="default-left-create-btn" id="room-create-btn"><%= link_to "ルーム作成","#" %></div>
    <%= render "rooms/room_create_window" %>
  </div>
  <div class="default-left-lists-header">参加ルーム一覧</div>

  <div class="default-left-lists">
    <% current_user.rooms.each do |room| %>
      <div class="default-left-list-box">
        <div class="default-left-list-name">
          <%= link_to room.room_name, room_posts_path(room) %>
        </div>
      </div>
    <% end %>
    
  </div>
</div>