<div id="modal-room-create" class="modal-room-create">
  <h2 class="modal-room-create-title">ルームの作成</h2>
  <div class="modal-room-create-form-box">
    <%= form_with model: @room, id: 'modal-room-create-form', local: true do |f| %>
      <div class="field">
        <label class="form-text">ルーム名</label>
        <%= f.text_field :room_name, placeholder:"ルーム名 (20文字以内)", maxlength:"20", class:"form-default" %>
      </div>

      <div class="field">
        <label class="form-text">ルーム説明文</label>
        <%= f.text_field :room_description, placeholder:"ルーム説明 (100文字以内)", maxlength:"100", class:"form-default" %>
      </div>

      <input name="room[user_ids][]" type="hidden" value=<%= current_user.id %>>

        <%= f.submit "作成", class:"modal-btn", id:"modal-create-btn" %>
    <% end %>
    <button class="modal-btn modal-cancel-btn" id="room-create-cancel">キャンセル</button>
  </div>
</div>

<div id="modal-overlay" class="modal-overlay"></div>