<div class="post-new-form-body">
  <div class="post-new-form-lists">
    <%= form_with model: [@room, @post], local: true do |f| %>
    <%= render "devise/shared/error_messages", model: f.object %>
      <div class="form-field">
        <label class="form-text">投稿タイトル</label>
        <%= f.text_field :title, placeholder:"投稿タイトル (60文字以内)", maxlength:"60", class:"post-form-box" %>
      </div>

      <div class="form-field">
        <label class="form-text">参考URL</label>
        <%= f.text_field :ref_url, placeholder:"参考URL", maxlength:"300", class:"post-form-box" %>
      </div>

      <div class="form-field">
        <label class="form-text">本文</label>
        <%= f.text_area :content, placeholder:"本文を入力してください（Markdown記法が利用可能です）", maxlength:"10000", class:"post-form-content" %>
      </div>

      <div class="post-form-btn">
        <%= f.submit "作成", class:"form-blue-btn" %>
      </div>
    <% end %>
  </div>
</div>
