<%= render "shared/header" %>

<main class="index-post-container">
  <%= render "posts/left-post-bar" %>

  <div class="post-screen">
    <%= render "posts/post-screen-header" %>

    <div class="post-screen-box">
      <div class="post-screen-lists">
        <% if @posts.any? %>
          <div class="post-screen-lists-border"></div>
        <% end %>
        <% @posts.each do |post| %>
          <div class="post-screen-list-box">
            <div class="post-screen-list-header">
              <%= link_to post.title,'#' %>
            </div>
            <div class="post-screen-list-body">
              投稿者：<%= link_to post.user.nickname, '#', class:"post-screen-list-user" %>　投稿日時：<%= post.created_at.to_s(:datetime_jp) %>
            </div>
          </div>
        <% end %>

      </div>
    </div>

  </div>
</main>