<%= render "shared/header" %>

<main class="index-post-container">
  <%= render "posts/left-post-bar" %>

  <div class="post-show-screen">
    <%= render "posts/post-screen-header" %>

    <div class="post-screen-show-box">
      <div class="post-screen-show-header">
        <div class="post-screen-show-header-top">
          <div class="post-screen-show-user">
            <%= @post.user.nickname %>
          </div>
          <div class="post-screen-show-postdate">
            <<%= @post.created_at.to_s(:datetime_jp) %>に投稿>
          </div>
          <div class="post-screen-show-edit">
            <%= link_to "編集", edit_room_post_path(@room, @post) %>
          </div>
          <div class="post-screen-show-destroy">
            <%= link_to "削除", room_post_path(@room, @post), method: :delete %>
          </div>
        </div>
        <div class="post-screen-show-title">
          <%= @post.title %>
        </div>
      </div>
      <div class="post-screen-show-body">
        <div class="post-screen-show-body">
          <div class="post-screen-show-body-border">投稿内容</div>
          <div class="post-screen-show-content"><%= markdown(@post.content).html_safe %></div>
          <div class="post-screen-show-body-border">コメント</div>
          <div class="post-screen-show-comment-area">
            <% @comments.each do |comment| %>
              <div class="comment-area-box">
                <div class="comment-area-message"><%= comment.message %></div>
                <div class="comment-area-footer">
                  <div class="comment-area-message-date">投稿日時:<%= comment.created_at.to_s(:datetime_jp) %></div>
                  <div class="comment-area-user"><%= comment.post.user.nickname %></div>
                </div>
              </div>
            <% end %>
          </div>
          <div class="post-screen-show-comment-form">
            <p>■コメントを投稿する</p>
            <%= form_with model: [@room, @post, @comment], local: true do |f| %>
              <div class="comment-form-error-messages"><%= render "devise/shared/error_messages", model: f.object %></div>
              <%= f.text_area :message, class: 'comment-form-box', placeholder: 'type a message' %>
            <%= f.submit '送信', class: 'comment-form-submit' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  </div>
</main>